.App {
  border:  2px solid dimgray;
  width: 800px;
  margin: 50px;
}
.top {
  height: 40px;
  background-color: lightblue;
  border-bottom: 2px solid dimgray;
}
.mainTitle {
  text-align: center;
}

